@charset "utf-8";
.col-12{
width: 100%;

}
.col-4{
width: 23%;
  float: left;
  margin: 0 1%;
}



.col-4 img{
	width: 100%;
	height: auto;
  overflow: hidden;
}

body{
  background-color:#fef1cf;
}

nav{
 background-color:#fff;
 width: 100%;
}

.textareaTop{
  background-color: #fff;
  height: 100px;
}

.imgArea{
  height: 200px;
overflow: hidden;
}

.snsLink {
  width: 100%;
  background: #fff;
}

.snsLink img{
  width: 100%;
}

.main{
  margin: 0 0px 40px 0px;
}
.middlecontents{
  width: 100%;
}
.contact{
  width: 50%;
  float: left;
  height: 180px;
}
.asobiArea{
  width: 50%;
  float: left;
}

a {
  color: #000;
}

footer{
  background: #ededed;
  padding: 30px 0px;
  margin: 30px 0px 0px 0px;
}

.wrapper{
  background: #fff;
  border: 3px solid #f18719;
}


form.form-horizontal {
    width: 90%;
    height: auto;
    position: relative;
    top: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
  }

input[type=submit]#formbtn {
    background-color: #f18719;
    color: #fff;
}

.page-header {
    margin: 40px 0 0 0;
    text-align: center;
    border: 0;
}




